body {
    background-color: rgba(245, 211, 75, 0.925);
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    border: 1px solid black;
    width: 450px;
    height: 600px;
    /* margin-top: 60px; */
    border-radius: 20px;
    background-color: white;
    margin: 20px auto;
    transition: all 1s 0s;
    position: relative;
}

.parent:hover {
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 1);
}

.main {
    display: block;
    margin-top: 25px;
    width: 400px;
    margin-left: 25px;
    border-radius: 15px;
}

.parent .word {
    background-color: rgba(245, 211, 75);
    padding: 6px;
    border-radius: 5px;
    width: 70px;
    margin-top: 25px;
    font-weight: 600;
    display: block;

}

.words {
    opacity: 0.5;
    line-height: 1.4;
    width: 350px;
}

.parent .in {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.5s 0s;
}

.parent .in:hover {
        color: rgba(245, 211, 75);

}

.m-div {
    margin-left: 25px;
}

.name {
    display: flex;
    margin-top: 20px;
}

.name img {
    width: 30px;
    display: inline-block;
    padding-right: 10px;
}

.name span {
    padding-top: 5px;
}

.attribution {
    margin-top: 20px;
    font-size: 13px;
    opacity: 0.7;
}

a {
    text-decoration: none;
    transition: all 0.5s 0s;
    
}

a:hover {
    color:rgba(245, 211, 75, 0.925);
}